################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AutoNest/FileContentIndex/099abb67-8082-48c2-8681-9d73931d7d45.vsidx
/.vs/AutoNest/FileContentIndex/9ffa14f2-9ca5-44b1-b939-e689f18ec572.vsidx
