################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AutoNest/FileContentIndex/099abb67-8082-48c2-8681-9d73931d7d45.vsidx
